<form action="/message" class="contact_form" method="POST">

    <label for="name">Nama Lengkap</label>
    <input type="text" id="name" name="name" required>

    <label for="phone">Nomer Telpon</label>
    <input type="phone" id="phone" name="phone" required>

    <label for="email">Alamat Email</label>
    <input type="email" id="email" name="email" required>

    <label for="message">Masukan Pesan</label>
    <textarea name="message" id="message" cols="30" rows="10" required></textarea>

    <button type="submit">Hubungi Kami</button>

</form>