<nav class="navbar">

    <h1 class="brand">jvalley</h1>

    <ul class="menu">
        <li class="menu_item">
            <a href="/">home</a>
        </li>
        <li class="menu_item">
            <a href="/about">about</a>
        </li>
        <li class="menu_item">
            <a href="/contact">contact</a>
        </li>
        <li class="menu_item">
            <a href="/gallery">gallery</a>
        </li>
    </ul>

</nav>